@CHARSET "ISO-8859-1";

h4 {
	margin-bottom:0em;
	color: blue;
}

h2{
	color: red;
}

table, th, td {
    border: 1px solid black;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

p{
	margin: 0px;
}